{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block head %}
    <link href="/static/user/login.css" rel="stylesheet">
{% endblock %}
    
{% block content %}

    <main class="form-signin w-100 m-auto">
        <form method="post" action="/user/login">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating mb-2">
                <input type="text" name="username" class="form-control" placeholder="username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
            <p>You can create your account <a href="/user/registration">here</a>.</p>
        </form>
    </main>

{% endblock %}